@import url("reset.css");
@import url("media.css");

.header {
    width: 100%;
    height: 985px;

    background-image: url("../img/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header h2 {
    height: 150px;

    font-size: 50px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0.02em;

    color: #fff;

}

.b-header__nav {
    width: 1180px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: auto;
}

.b-header__text {
    width: 1180px;

    margin: 465px auto auto auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.header__logo {

    display: flex;

}

.header__menu {


    display: flex;
}

.menu {
    column-gap: 24px;

    display: flex;
}

.menu__item {

}

.b-header__select {
    width: 1180px;
    height: 161px;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(255, 255, 255, 0.2);
    padding: 0 42px 0 42px;
}

.header__select {
    width: 270px;
    height: 52px;
    border-radius: 8px;
    padding: 0 16px 0 16px;

    color: #fff;
    border: 1px solid #fff;
}

.select__btn {
    width: 210px;
    height: 52px;

    border: 1px solid #fff;
    border-radius: 4px;
    padding: 0 16px 0 16px;

    color: #1A3E3E;
    background-color: #fff;
}

.main {
    width: 1180px;
    margin: auto;
    position: relative;
}

.about {
    width: 100%;
    height: 726px;

    display: flex;
}

.bg-gray {
    width: 100% !important;
    justify-content: space-between;
    background-color: #F3F5F4;
}

.b-about__img {
    width: 50%;

    display: flex;
    flex-wrap: wrap;

    position: relative;
}

.z-1 {
    position: relative;
}

.z-2 {
    position: absolute;
    left: 25%;
    top: 25%;
}

.b-about__text {
    width: 580px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    row-gap: 40px;
}

.about__img {
    width: 350px;
    height: 400px;
}

.about__name {
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;

    color: #F2BE22;
}

.about__head {
    font-size: 32px;
    font-weight: 800;
    line-height: 38px;
    text-align: center;

    color: #18121E;
}

.about__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;

    color: #18121E;
}

.about__btn {
    /*width: 200px;*/
    max-width: 236px;

    height: 52px;

    padding: 16px 36px 16px 36px;
    border-radius: 4px;

    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.012em;

    color: #fff;
    background: #1A3E3E;
}

.w-510 {
    width: 510px;
    height: 510px;

    column-gap: 10px;
    row-gap: 10px;
}

.w-250 {
    width: 250px;
    height: 250px;
}

.about__offer {
    display: flex;
    flex-direction: column;

    row-gap: 40px;
}

.offer__item {
    display: flex;
    align-items: center;
}

.offer__img {
    min-width: 50px;
    height: 50px;

    padding: 10px;
    margin-right: 16px;
}

.offer__head {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.012em;
    text-align: left;

    color: #18121E;
}

.offer__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.bg-green {
    background: #E5EEEB;
}

.bg-blue {
    background: #E3E6EE;
}

.bg-yellow {
    background: #F3F1E1;
}

.popular {

}

.b-course__card {
    display: flex;
    flex-wrap: wrap;

    column-gap: 20px;
}

.course__card {
    width: 380px;
    height: 500px;

    position: relative;
}

.course__card:hover {
    .b-course__rating{
        display: none;
    }

    .course__desc {
        display: block;
    }

    .course__head {
        /* flex-direction: column; */
        width: 100%;
        flex-wrap: wrap;
        /* justify-content: center; */
        height: auto;
        top: 0;
    }
}

.course__img {
    position: relative;
}

.b-course__rating {
    width: 65px;
    height: 32px;
    padding: 4px 8px 4px 8px;
    border-radius: 4px 0 0 4px;

    display: flex;
    align-items: center;

    position: absolute;
    bottom: 85%;
    right: 0;

    color: #1A3E3E;
    background: rgba(253, 253, 253, 0.4);
}

.rating__img {
}

.course__head {
    width: 380px;
    height: 90px;
    border-radius: 0 0 32px 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    bottom: 0;

    padding-left: 32px;
    padding-right: 32px;

    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.course__name {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.course__summary {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.course__price {
    width: 86px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px 16px 8px 16px;
    border-radius: 4px;

    font-size: 20px;
    font-weight: 700;
    line-height: 24px;

    background: rgba(255, 255, 255, 0.3);
}

.course__desc {
    display: none;

    width: 100%;
    height: auto;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.blog {

}

.b-blog {
    display: flex;
    flex-wrap: wrap;
}

.blog__post {
    width: 580px;
    height: 312px;

    display: flex;

    padding: 16px;

    color: #FDFDFD;
}

.blog__img {
    margin-right: 24px;
}

.b-blog__text {
    display: flex;
    flex-direction: column;

    row-gap: 24px;
}

.blog__name {
    height: 96px;

    font-size: 24px;
    font-weight: 700;
    line-height: 32px;

    color: #18121E;

}

.blog__desc {
    height: 116px;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    color: #18121E;
}

.blog__date_AND_blog__link {
    display: flex;
    justify-content: space-between;
}

.blog__date {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;

    color: #F2BE22;
}

.blog__link {
    color: #1A3E3E;
}

.photo {
    margin-bottom: 20%;
}

.b-photo {
    display: flex;
    flex-wrap: wrap;

    column-gap: 20px;
    row-gap: 20px;

}

.photo__item {

}

.footer {
    width: 100%;
    background-color: #1A3E3E;
    position: relative;

    padding-top: 150px;
}

.b-footer {
    width: 1180px;
    border-radius: 6px;

    display: flex;
    justify-content: space-between;

    margin: auto;

    color: #fff;
}

.company {
    width: 480px;
}

.company__name {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.company__desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    margin-bottom: 80px;
}

.mail__AND__phone {
    display: flex;

    column-gap: 24px;

    color: #fff;
    margin-bottom: 32px;
}

.mail {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;

    color: #fff;
}

.number {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.foot__nav {
    display: flex;
    align-items: center;

    column-gap: 24px;
}

.nav__link {
    width: 32px;
    height: 32px;

    display: flex;
}

.services {
    display: flex;
    flex-direction: column;

    row-gap: 16px;
}

.services__name {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.services__item {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    color: #fff;
}

.foot__foot {
    height: 60px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 60px;

    color: #fff;
    background-color: #18121E;
}

.ip {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.politics {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.subscribe {
    width: 1180px;
    height: 196px;
    border-radius: 6px;

    display: flex;

    position: absolute;
    bottom: 80%;

    margin-left: 370px;
    margin-right: 370px;

    background-color: #FDFDFD;
    box-shadow: 0 0 15px 0 #18121E1F;
}

.pos-center {
    display: flex;
    justify-content: center;

    margin: 50px auto auto auto;
}

.pad-t-b {
    padding-top: 80px;
    padding-bottom: 100px;
}